.actionbar,
.actionbar-left,
.actionbar-title,
.actionbar-items,
.actionbar-right {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.actionbar {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.actionbar-left,
.actionbar-title,
.actionbar-items,
.actionbar-right {
    margin: 0 0.5rem;
}

.actionbar-right {
    margin-left: auto;
}

.actionbar-left,
.actionbar-title,
.actionbar-items,
.actionbar-right {
    &>* {
        margin: 0 0.25rem;
        
        &:first-child{
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
    } 
}

.actionbar-title {
    overflow: hidden;
    
}

.actionbar .breadcrumb {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;

    
    li {
        white-space: nowrap;
    }
}





