.adminui-menu {
    &,
    ul,
    li {
        padding: 0;
        margin: 0;
        display: block;
    }

    ul {
        //border-left: 5px solid rgba(255, 255, 255, 0.2);
        background: rgba(0, 0, 0, 0.2);

        &>li>a,
        &>li>span {
            transition: all 0.2s;
            height: 0;
            padding-left: 20px;
        }
        
        
        &>li li>a,
        &>li li>span {
            padding-left: 30px;
        }

    }

    a,
    span {
        display: block;
        height: 38px;
        line-height: 38px;
        padding: 0 6px 0 10px;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        border-left: 5px solid transparent;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 1);
        }
    }

    .adminui-indicator {
        display: block;
        position: absolute;
        top: 50%; 
        margin-top: -10px;
        right: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        transition: all 0.2s;
    }

    .adminui-icon {
        display: inline-block;
        margin-right: 8px;
        width: 20px;
        text-align: center;
        font-size: 16px;
    }

    .adminui-default-icon {
        font-size: 12px;
    }

    .active {
        &>a {
            color: rgba(255, 255, 255, 1);
            //border-left-color: #da0000;
        }

        &>span>.adminui-indicator {
            transform: rotate(90deg);
        }
    }

    .show,
    .active {
        &>ul>li>a,
        &>ul>li>span {
            height: 38px;
        }
    }
    
    li:not(.active) {
        
        &>ul a,
        &>ul span {
            height: 0 !important;
        }
    }


}
