.card-actions,
.card-controls,
.card-collapse-trigger {
    max-height: 24px;
}

.card-header .mdi {
    font-size: 14px;
}

.card-header .collapse-trigger i:before {
    transition: transform 0.2s;
}

.card-header .collapse-trigger.collapsed i:before {
    transform: rotate(180deg);
}

.card-body {
    &>*:last-of-type {
        margin-bottom: 0;
    }
}

