/* Reset table config, in case picker within a table */
.picker {
    thead {
        th {
            border: none;
            padding: 0;
        }
    }

    th,
    td {
        border: none !important;
        padding: 0 !important;
    }
    
    tr:hover {
        background: none !important;
    }

}

/* Picker styles */
.picker {
    width: 100%;
    text-align: left;
    position: absolute;
    margin-top: -1px;
    z-index: 1070;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.picker__input {
    cursor: default;
}

.picker__holder {
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0.2rem;
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-width: 0;
    border-bottom-width: 0;
    min-width: 280px;
    max-width: 20rem;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    border-bottom-right-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.picker--opened .picker__holder {
    max-height: 480px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    display: block;
}

.picker__box {
    padding: 0.9375rem;
}

.picker__header {
    text-align: center;
    position: relative;
    font-size: 0.9375rem;
    line-height: 1;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.picker__month,
.picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
}

.picker__year {
    color: #999;
    font-size: 0.75rem;
    font-weight: normal;
}

.picker__select--month,
.picker__select--year {
    border: 1px solid #ddd;
    padding: 0.4375rem 0.875rem;
    font-size: 0.8125rem;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    outline: 0;
    white-space: nowrap;
}

.picker__nav--prev,
.picker__nav--next {
    position: absolute;
    padding: 0.5rem;
    top: 50%;
    margin-top: -1rem;
    line-height: 1;
    border-radius: 0.1875rem;
    transition: all ease-in-out 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
    .picker__nav--prev,
    .picker__nav--next {
        transition: none;
    }
}

.picker__nav--prev:before,
.picker__nav--next:before {
    font-family: "Material Design Icons";
    display: block;
    font-size: 1rem;
    width: 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
}

.picker__nav--prev {
    left: 0;
}

.picker__nav--prev:before {
    content: "\f141";
}

.picker__nav--next {
    right: 0;
}

.picker__nav--next:before {
    content: "\f142";
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
    cursor: default;
    background-color: transparent;
}

.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-bottom: 0.9375rem;
}

.picker__table td {
    margin: 0;
    padding: 0;
}

.picker__weekday {
    width: 14.285714286%;
    text-align: center;
    padding-bottom: 0.46875rem;
    padding-top: 0.9375rem;
    color: #999;
    font-weight: 400;
}

.picker__day {
    padding: 0.4375rem;
    min-width: 2.12503rem;
    border-radius: 0.1875rem;
}

.picker__day--today {
    position: relative;
    background-color: #f5f5f5;
}

.picker__day--today:before {
    content: "";
    position: absolute;
    top: 0.125rem;
    right: 0.125rem;
    width: 0;
    height: 0;
    border-top: 0.375rem solid #26A69A;
    border-left: 0.375rem solid transparent;
}

.picker__day--outfocus {
    color: #ccc;
}

.picker__day--infocus,
.picker__day--outfocus {
    transition: all ease-in-out 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
    .picker__day--infocus,
    .picker__day--outfocus {
        transition: none;
    }
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
}

.picker__day--highlighted:before {
    border-top-color: #fff;
}

.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    cursor: pointer;
    color: #fff;
    background-color: #26A69A;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: #26A69A;
    color: #fff;
}

.picker__day--disabled,
.picker__day--disabled:hover {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.picker__day--disabled:before {
    border-top-color: #999;
}

.picker__day--highlighted .picker__day--disabled,
.picker__day--highlighted .picker__day--disabled:hover {
    background-color: transparent;
}

.picker__footer {
    text-align: center;
}

.picker__footer button {
    border: 0;
    padding: 0.4375rem 0.875rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.1875rem;
    transition: all ease-in-out 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
    .picker__footer button {
        transition: none;
    }
}

.picker__footer button:hover,
.picker__footer button:focus {
    outline: 0;
    color: #333;
    background-color: #f5f5f5;
}

.picker__footer button:before {
    height: 0;
}

.picker__footer button:disabled,
.picker__footer button:disabled:hover,
.picker__footer button:disabled:focus {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.picker__button--today:before {
    content: '';
    margin-right: 0.625rem;
    position: relative;
    display: inline-block;
    top: -0.0625rem;
    width: 0;
    border-top: 0.375rem solid #2196F3;
    border-left: 0.375rem solid transparent;
}

.picker__button--close:before {
    content: '\D7';
    display: inline-block;
    position: relative;
    margin-right: 0.625rem;
    top: 0.0625rem;
    line-height: 1;
    font-size: 1rem;
}

.picker__button--clear:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -0.1875rem;
    width: 0.5rem;
    margin-right: 0.625rem;
    border-top: 0.125rem solid #F44336;
}


/* ------------------------------------------------------------------------------
*
*  # Pick-a-date - Time picker
*
*  The mobile-friendly, responsive, and lightweight jQuery date & time input picker
*
* ---------------------------------------------------------------------------- */

.picker--time {
    min-width: 16rem;
    max-width: 20rem;
}

.picker--time .picker__box {
    padding: 0;
}

.picker__list {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
}

.picker__list-item {
    position: relative;
    padding: 0.5rem 1rem;
    transition: all ease-in-out 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
    .picker__list-item {
        transition: none;
    }
}

.picker__list-item:hover,
.picker__list-item:focus {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
    z-index: 10;
}

.picker--time .picker__button--clear {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.4375rem 0.875rem;
    background-color: #fafafa;
    outline: 0;
    border: 0;
    border-top: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
    transition: all ease-in-out 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
    .picker--time .picker__button--clear {
        transition: none;
    }
}

.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
    background-color: #f5f5f5;
}

.picker__list-item--highlighted {
    z-index: 10;
}

.picker__list-item--highlighted,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
}

.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    color: #fff;
    background-color: #2196F3;
    z-index: 10;
}

.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
    color: #999;
    background-color: transparent;
    cursor: default;
    z-index: auto;
}