.actionbar,
.actionbar-left,
.actionbar-title,
.actionbar-items,
.actionbar-right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.actionbar {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.actionbar-left,
.actionbar-title,
.actionbar-items,
.actionbar-right {
  margin: 0 0.5rem; }

.actionbar-right {
  margin-left: auto; }

.actionbar-left > *,
.actionbar-title > *,
.actionbar-items > *,
.actionbar-right > * {
  margin: 0 0.25rem; }
  .actionbar-left > *:first-child,
  .actionbar-title > *:first-child,
  .actionbar-items > *:first-child,
  .actionbar-right > *:first-child {
    margin-left: 0; }
  .actionbar-left > *:last-child,
  .actionbar-title > *:last-child,
  .actionbar-items > *:last-child,
  .actionbar-right > *:last-child {
    margin-right: 0; }

.actionbar-title {
  overflow: hidden; }

.actionbar .breadcrumb {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap; }
  .actionbar .breadcrumb li {
    white-space: nowrap; }

.actiongroup .action {
  margin-right: 10px; }
  .actiongroup .action:last-of-type {
    margin-right: inherit; }

.action {
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.15s; }
  .action:hover {
    opacity: 1; }
  .action .mdi {
    display: inline-block;
    width: 28px;
    position: relative;
    text-align: center; }
    .action .mdi:before {
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      margin-top: -12px;
      font-size: 24px;
      line-height: 24px; }
    .action .mdi:after {
      content: "x";
      color: transparent; }
  .action.action-sm .mdi {
    width: 18px; }
    .action.action-sm .mdi:before {
      margin-top: -9px;
      font-size: 18px;
      line-height: 18px; }
  .action.action-lg .mdi {
    width: 32px; }
    .action.action-lg .mdi:before {
      margin-top: -16px;
      font-size: 32px;
      line-height: 32px; }

.adminui-menu,
.adminui-menu ul,
.adminui-menu li {
  padding: 0;
  margin: 0;
  display: block; }
.adminui-menu ul {
  background: rgba(0, 0, 0, 0.2); }
  .adminui-menu ul > li > a, .adminui-menu ul > li > span {
    transition: all 0.2s;
    height: 0;
    padding-left: 20px; }
  .adminui-menu ul > li li > a, .adminui-menu ul > li li > span {
    padding-left: 30px; }
.adminui-menu a,
.adminui-menu span {
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 6px 0 10px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-left: 5px solid transparent; }
  .adminui-menu a:hover,
  .adminui-menu span:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white; }
.adminui-menu .adminui-indicator {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: all 0.2s; }
.adminui-menu .adminui-icon {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  text-align: center;
  font-size: 16px; }
.adminui-menu .adminui-default-icon {
  font-size: 12px; }
.adminui-menu .active > a {
  color: white; }
.adminui-menu .active > span > .adminui-indicator {
  transform: rotate(90deg); }
.adminui-menu .show > ul > li > a, .adminui-menu .show > ul > li > span,
.adminui-menu .active > ul > li > a,
.adminui-menu .active > ul > li > span {
  height: 38px; }
.adminui-menu li:not(.active) > ul a, .adminui-menu li:not(.active) > ul span {
  height: 0 !important; }

.card-actions,
.card-controls,
.card-collapse-trigger {
  max-height: 24px; }

.card-header .mdi {
  font-size: 14px; }

.card-header .collapse-trigger i:before {
  transition: transform 0.2s; }

.card-header .collapse-trigger.collapsed i:before {
  transform: rotate(180deg); }

.card-body > *:last-of-type {
  margin-bottom: 0; }

/* Reset table config, in case picker within a table */
.picker thead th {
  border: none;
  padding: 0; }
.picker th,
.picker td {
  border: none !important;
  padding: 0 !important; }
.picker tr:hover {
  background: none !important; }

/* Picker styles */
.picker {
  width: 100%;
  text-align: left;
  position: absolute;
  margin-top: -1px;
  z-index: 1070;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.picker__input {
  cursor: default; }

.picker__holder {
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0.2rem;
  display: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-width: 0;
  border-bottom-width: 0;
  min-width: 280px;
  max-width: 20rem;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  border-bottom-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.picker--opened .picker__holder {
  max-height: 480px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  display: block; }

.picker__box {
  padding: 0.9375rem; }

.picker__header {
  text-align: center;
  position: relative;
  font-size: 0.9375rem;
  line-height: 1;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }

.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem; }

.picker__year {
  color: #999;
  font-size: 0.75rem;
  font-weight: normal; }

.picker__select--month,
.picker__select--year {
  border: 1px solid #ddd;
  padding: 0.4375rem 0.875rem;
  font-size: 0.8125rem;
  line-height: 1.5385;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  outline: 0;
  white-space: nowrap; }

.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  padding: 0.5rem;
  top: 50%;
  margin-top: -1rem;
  line-height: 1;
  border-radius: 0.1875rem;
  transition: all ease-in-out 0.15s; }

@media screen and (prefers-reduced-motion: reduce) {
  .picker__nav--prev,
  .picker__nav--next {
    transition: none; } }
.picker__nav--prev:before,
.picker__nav--next:before {
  font-family: "Material Design Icons";
  display: block;
  font-size: 1rem;
  width: 1rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #333;
  background-color: #f5f5f5; }

.picker__nav--prev {
  left: 0; }

.picker__nav--prev:before {
  content: "\f141"; }

.picker__nav--next {
  right: 0; }

.picker__nav--next:before {
  content: "\f142"; }

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background-color: transparent; }

.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-bottom: 0.9375rem; }

.picker__table td {
  margin: 0;
  padding: 0; }

.picker__weekday {
  width: 14.285714286%;
  text-align: center;
  padding-bottom: 0.46875rem;
  padding-top: 0.9375rem;
  color: #999;
  font-weight: 400; }

.picker__day {
  padding: 0.4375rem;
  min-width: 2.12503rem;
  border-radius: 0.1875rem; }

.picker__day--today {
  position: relative;
  background-color: #f5f5f5; }

.picker__day--today:before {
  content: "";
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  width: 0;
  height: 0;
  border-top: 0.375rem solid #26A69A;
  border-left: 0.375rem solid transparent; }

.picker__day--outfocus {
  color: #ccc; }

.picker__day--infocus,
.picker__day--outfocus {
  transition: all ease-in-out 0.15s; }

@media screen and (prefers-reduced-motion: reduce) {
  .picker__day--infocus,
  .picker__day--outfocus {
    transition: none; } }
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #333;
  background-color: #f5f5f5; }

.picker__day--highlighted:before {
  border-top-color: #fff; }

.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  cursor: pointer;
  color: #fff;
  background-color: #26A69A; }

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #26A69A;
  color: #fff; }

.picker__day--disabled,
.picker__day--disabled:hover {
  background-color: transparent;
  color: #999;
  cursor: default; }

.picker__day--disabled:before {
  border-top-color: #999; }

.picker__day--highlighted .picker__day--disabled,
.picker__day--highlighted .picker__day--disabled:hover {
  background-color: transparent; }

.picker__footer {
  text-align: center; }

.picker__footer button {
  border: 0;
  padding: 0.4375rem 0.875rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.1875rem;
  transition: all ease-in-out 0.15s; }

@media screen and (prefers-reduced-motion: reduce) {
  .picker__footer button {
    transition: none; } }
.picker__footer button:hover,
.picker__footer button:focus {
  outline: 0;
  color: #333;
  background-color: #f5f5f5; }

.picker__footer button:before {
  height: 0; }

.picker__footer button:disabled,
.picker__footer button:disabled:hover,
.picker__footer button:disabled:focus {
  background-color: transparent;
  color: #999;
  cursor: default; }

.picker__button--today:before {
  content: '';
  margin-right: 0.625rem;
  position: relative;
  display: inline-block;
  top: -0.0625rem;
  width: 0;
  border-top: 0.375rem solid #2196F3;
  border-left: 0.375rem solid transparent; }

.picker__button--close:before {
  content: '\D7';
  display: inline-block;
  position: relative;
  margin-right: 0.625rem;
  top: 0.0625rem;
  line-height: 1;
  font-size: 1rem; }

.picker__button--clear:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -0.1875rem;
  width: 0.5rem;
  margin-right: 0.625rem;
  border-top: 0.125rem solid #F44336; }

/* ------------------------------------------------------------------------------
*
*  # Pick-a-date - Time picker
*
*  The mobile-friendly, responsive, and lightweight jQuery date & time input picker
*
* ---------------------------------------------------------------------------- */
.picker--time {
  min-width: 16rem;
  max-width: 20rem; }

.picker--time .picker__box {
  padding: 0; }

.picker__list {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto; }

.picker__list-item {
  position: relative;
  padding: 0.5rem 1rem;
  transition: all ease-in-out 0.15s; }

@media screen and (prefers-reduced-motion: reduce) {
  .picker__list-item {
    transition: none; } }
.picker__list-item:hover,
.picker__list-item:focus {
  cursor: pointer;
  color: #333;
  background-color: #f5f5f5;
  z-index: 10; }

.picker--time .picker__button--clear {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.4375rem 0.875rem;
  background-color: #fafafa;
  outline: 0;
  border: 0;
  border-top: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  margin-bottom: -0.5rem;
  margin-top: 0.5rem;
  transition: all ease-in-out 0.15s; }

@media screen and (prefers-reduced-motion: reduce) {
  .picker--time .picker__button--clear {
    transition: none; } }
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
  background-color: #f5f5f5; }

.picker__list-item--highlighted {
  z-index: 10; }

.picker__list-item--highlighted,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  cursor: pointer;
  color: #333;
  background-color: #f5f5f5; }

.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
  color: #fff;
  background-color: #2196F3;
  z-index: 10; }

.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  color: #999;
  background-color: transparent;
  cursor: default;
  z-index: auto; }

/*# sourceMappingURL=adminui.css.map */
